.container {
    background-color: #1e1e1e;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 800px;
    box-sizing: border-box;
    margin: 20px auto; 
}

@media (max-width: 600px) {
    .container {
        padding: 20px;
    }
}

.container-dark {
    background-color: #1e1e1e;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 800px;
}

.header-dark {
    text-align: center;
    margin-bottom: 30px;
}

.header-dark h1 {
    color: #4a90e2;
    font-size: 2.5em;
    margin-bottom: 10px;
}

.header-dark p {
    color: #f1f1f1;
}

.section-dark h2 {
    border-bottom: 2px solid #4a90e2;
    padding-bottom: 10px;
    margin-top: 40px;
    margin-bottom: 20px;
    font-size: 1.5em;
}

/* layout responsivo dos campos de data --- */
.form-row {
    display: flex;
    flex-wrap: wrap; /* Adiciona a quebra de linha */
    gap: 20px;
}

@media (max-width: 600px) {
    .form-row {
        flex-direction: column; /* Alinha os itens em coluna em telas menores */
    }
}

.form-group-dark {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.form-group-dark label {
    font-weight: bold;
    margin-bottom: 5px;
    color: #ccc;
}

.form-input-dark,
.form-select-dark,
.form-textarea-dark {
    background-color: #2c2c2c;
    border: 1px solid #444;
    color: #fff;
    padding: 10px;
    border-radius: 4px;
    font-size: 1em;
    width: 100%;
    box-sizing: border-box;
}

.form-input-dark:focus,
.form-select-dark:focus,
.form-textarea-dark:focus {
    border-color: #4a90e2;
    outline: none;
    box-shadow: 0 0 5px rgba(74, 144, 226, 0.5);
}

.button-dark {
    background-color: #4a90e2;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s ease;
    width: 100%;
}

.button-dark:hover {
    background-color: #357ABD;
}

.file-upload-wrapper {
    position: relative;
    display: inline-block;
}

.file-upload-label {
    background-color: #4a90e2;
    color: #fff;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    display: inline-block;
}

.file-upload-filename {
    margin-top: 5px;
    display: block;
    font-size: 0.9em;
    color: #aaa;
}

.photos-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 20px;
}

.photo-item {
    width: calc(50% - 10px);
    text-align: center;
    margin-bottom: 20px;
}

.photo-item img {
    width: 100%;
    height: auto;
    border-radius: 4px;
    margin-bottom: 10px;
}